<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Javascript-->
    <script src="/javascripts/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>

<nav class=" navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/about" title="About">About</a></li>
        <li><a href="/projects" title="Projects">Projects</a></li>
        <li><a href="/services" title="Services">Services</a></li>
        <li><a href="/contact" title="Contact">Contact</a></li>
    </ul>
</nav>