<%- include partials/header.ejs %>
<header class="intro">
    <h1>About Me</h1>
    <p>My name is Naga Rimmalapudi. I'm currently enrolled in Computer Programmer 2 year course at Georgian college.
        Upon completion of this program I'd like to be a QA Professional.  I enjoy Tennis, Baseball, and Soccer.
    </p>
</header>
<%- include partials/footer.ejs %>