<%- include partials/header.ejs %>
<header class="intro">
    <h1>Past Projects</h1>

    <h4>Multi-User Drawing Tool: Electronic Classroom where multiple users can view and simultaneously draw on a "Chalkboard" with each person's edits synchronized. C++, MFC</h4><br />
    <h4>Synchronized Calender: Desktop Calender with globally shared and synchronized calenders, allowing users to schedule meetings with other users. C#.Net, SQL, XML</h4><br />
    <h4>Operating System: UNIX-style OS with scheduler, filesystem, text editor and calculator. C</h4>

</header>
<%- include partials/footer.ejs %>