<%- include partials/header.ejs %>
<header class="intro">
    <h1>Here's What I Can Offer</h1>

    <h4>Accessibility Technologies</h4><br />
    <h4>Manual and Automation Testing</h4><br />
    <h4>Operating System Deployment</h4><br />
    <h4>Full STACK Development</h4><br />

</header>
<%- include partials/footer.ejs %>